html, body {
  background-color: darkgrey;
  color: ;
  text-align: center;
  line-height: 20px;
}

.lefty {
  text-align: left;
}

#main {
  /*"My tribute page should have an element with a corresponding id="main", which contains all other elements." -- but the challenge for the 'main' html tag says it is used for the main content of the page, so don't confuse the two! */
}


#title {
  font-size: 30vmin;
  font-family: Iceland, serif;
  padding: .3em 0 .5em 0;
  width: 80%;
  display: inline-block;
}


#img-div {
  margin: auto;
  max-width: 1000px;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
}


#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}


#img-caption {
  display: block;
  padding: .15em;
}

#tribute-info {
  margin: 40px;
  width: 75%;
  display: inline-block;
}

#tribute-quote {
  display: inline-block;
  padding: 2.5% 5% 1% 5%;
  margin: 20px;
  font-family: Iceland, serif;
  font-size: 30px;
  width: 70%;
  border-color: grey;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 15px -10px 20px rgba(0,0,0,0.19)
}


#tribute-link {
  /* ¯\_(ツ)_/¯ */
}
